<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="5298671247:AAG9jU3YjSX5W10x67BvlIzEoh3V3vhVyA4" />
		<add key="CommandDynamic" value="/dynam" />
		<add key="CommandRate" value="/rate" />
		<add key="CommandConvert" value="/conv" />
		<add key="DateFormat" value="yyyy-MM-dd" />
	</appSettings>
</configuration>